@charset "UTF-8";
/*
------------------------------------------------------------
   Coffee Hour
------------------------------------------------------------
*/
.orange{
width: 193px;
background-color: #fbb03b;
border-radius: 2px;
}
