@charset "UTF-8";
/*
------------------------------------------------------------
   Coffee Hour
------------------------------------------------------------
*/
.movie > div {
float: left;
}

.orange:after{
background-color: #e1af3c;
border-radius: 5px;
content: "";
display: block;
height: 8px;
}

.green:after{
background-color: #c3e254;
border-radius: 5px;
content: "";
display: block;
height: 8px;
}

.red{
margin: 0;
}

.red:after{
background-color: #b8394c;
border-radius: 5px;
content: "";
display: block;
height: 4px;
}
