@charset "UTF-8";

/* TOPICS特別編(名大の研究室紹介)  */

div#package2{
top: 0px;
}

#contents{
width: 875px !important;
}

.lab_intro{
margin: 0;
width: 875px;
}

#header_img{
width: 875px;
}

#intro{
width: 875px;
margin: 15px 0;
}

#movie_list{
width: 875px;
}

#department_list{
margin: 10px 0 0 0;
padding: 0;
list-style-type: none;
font-size: 0;
}

#department_list li{
height: 87.5px;
display: inline-block;
}

.department{
width: 87.5px;
height: 87.5px;
}

.department.on{
cursor: pointer;
}

.department.on:hover{
opacity: 0.6;
}

.movie{
//width: 875px;
height: 200px;
overflow: auto;
border: 4px solid #E95383;
}


div#box {
    padding:10px;
    border:5px #ccc solid;
    width:100px;
    height:100px;
}

/* 以下jScrollPaneの設定 */
/* 本体 */
.jspContainer {

}

/* 縦スクロールバー本体 */
.jspVerticalBar {
position:absolute;
top:0;
right:0;
width:10px;
height:100%;
}

/* 横スクロールバー本体 */
.jspHorizontalBar {

}

/* 縦スクロールバーの背景 */
.jspVerticalBar .jspTrack {
background: #E95383;
}

/* 横スクロールバーの背景 */
.jspHorizontalBar .jspTrack {

}

/* 全ての矢印ボタン */
.jspArrow {

}

/* 上矢印ボタン */
.jspArrowUp {

}

/* 下矢印ボタン */
.jspArrowDown {

}

/* 左矢印ボタン */
.jspArrowLeft {

}

/* 右矢印ボタン */
.jspArrowRight {

}

/* 縦スクロールバー 先端または終端時の矢印ボタン */
.jspVerticalBar .jspDisabled {

}

/* 横スクロールバー 先端または終端時の矢印ボタン */
.jspHorizontalBar .jspDisabled {

}

/* 右下角 */
.jspCorner {

}
