@charset "UTF-8";

/* TOPICS特別編(名大の研究室紹介)  */

div#package2{
top: 0px;
}

/* ヘッダーとフッター・背景の非表示はじめ */
body{
background: none;
}

.body_back{
background: none;
}

.header_edge{
display: none;
}

.pankuzu{
display: none;
}

.footer{
display: none;
}

#footer_bottom{
display: none;
}

.main_back_adachi{
display: none;
background: none;
}

.main_back_url {
display: none;
}

.main_back{
background: none;
}

.main{
margin: 0 auto;
background: none;
}

.topjump {
display: none;
}

#contents{
padding: 0;
}
/* ヘッダーとフッター・背景の非表示終わり */

/* 以下jScrollPane(スクロールバー)の設定 */
/* 本体 */
.jspContainer{
position: relative;
overflow: hidden;
}

.jspPane{
position: absolute;
}

/* 縦スクロールバー本体 */
.jspVerticalBar{
border-left: 4px solid #E95383;
position: absolute;
top: 0;
right: 0;
width: 27px;
height: 100%;
background: #E95383;
}

/* 横スクロールバー本体 */
.jspHorizontalBar{
display: none;
}

.jspCap{
display: none;
}

.jspHorizontalBar .jspCap{
float: left;
}

.jspTrack{
position: relative;
background: #E95383;
}

.jspDrag{
position: relative;
top: 0;
left: 0;
background: white;
cursor: pointer;
}

/* 縦スクロールバーの背景 */
.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag{
float: left;
height: 100%;
}

.jspArrow{
margin: 0;
padding: 0;
text-indent: -20000px;
display: block;
background: #50506d;
cursor: pointer;
}

.jspArrow.jspDisabled{
background: #80808d;
cursor: default;
}

.jspVerticalBar .jspArrow{
height: 16px;
}

.jspHorizontalBar .jspArrow{
float: left;
width: 16px;
height: 100%;
}

.jspVerticalBar .jspArrow:focus{
outline: none;
}

.jspCorner{
float: left;
height: 100%;
background: #eeeef4;
}
/* jScrollPane(スクロールバー)の設定終わり */

/* PC版用CSSはじめ */
@media screen and (min-width:875px) {

#contents{
width: 875px !important;
}

.main{
width: 875px;
}

.lab_intro{
margin: 0;
width: 875px;
}

.full{
display: block;
}

.sd{
display: none;
}

img.header_img{
width: 875px;
}

img.intro{
margin: 15px 0;
width: 875px;
}

img.movie_list{
width: 875px;
}

.school_list{
margin: 10px 0 0 0;
padding: 0;
list-style-type: none;
font-size: 0;
}

.school_list li{
display: inline-block;
height: 87.5px;
}

.school{
width: 87.5px;
height: 87.5px;
}

.notselected .school.on{
cursor: pointer;
}

.notselected .school.on:hover{
opacity: 0.6;
}

.movie{
border: 4px solid #E95383;
width: 875px;
height: 700px;
overflow: hidden;
box-sizing:border-box;
}

.set{
margin:40px 0;
}

.item{
margin: 0 0 35px 40px;
width: 160px;
float: left;
}

.item:nth-child(4n+1){
clear: left;
}

.title{
margin: 10px 0 0 0;
width: 160px;
height: 65px;
font-size: 12.5px;
}

.item img{
width: 160px;
height: 90px;
}

}
/* PC版CSS終わり */

/* PC版用CSS2はじめ */
@media screen and (min-width:641px) and (max-width:874px) {

.main{
width: 100%;
}

div#package2{
width: 100%;
}

#contents{
width: 100% !important;
}

.lab_intro{
margin: 0;
width: 100%;
}

.full{
display: block;
}

.sd{
display: none;
}

img.header_img{
width: 100%;
}

img.intro{
margin: 15px 0;
width: 100%;
}

img.movie_list{
width: 100%;
}

.school_list{
margin: 10px 0 0 0;
padding: 0;
list-style-type: none;
font-size: 0;
}

.school_list li{
width: 10%;
display: inline-block;
}

.school{
width: 100%;
}

.notselected .school.on{
cursor: pointer;
}

.notselected .school.on:hover{
opacity: 0.6;
}

.movie{
border: 4px solid #E95383;
width: 100% !important;
height: 700px;
overflow: hidden;
box-sizing:border-box;
}

.set{
margin:40px 0;
}

.item{
margin: 0 0 35px 40px;
width: 160px;
float: left;
}

.item:nth-child(3n+1){
clear: left;
}

.title{
margin: 10px 0 0 0;
width: 160px;
height: 65px;
font-size: 12.5px;
}

.item img{
width: 160px;
height: 90px;
}

}
/* PC版CSS2終わり */

/* スマホ対応用CSS */
@media screen and (max-width:640px) {
.main{
width: 100%;
}

div#package2{
width: 100%;
}

#contents{
margin: 0 auto;
padding: 0;
width: 100% !important;
float: none;
}

.lab_intro{
margin: 0;
width: 100%;
}

.full{
display: none;
}

.sd{
display: block;
}

img.header_img{
width: 100%;
}

img.intro{
margin: 15px 0;
width: 100%;
}

img.movie_list{
width: 100%;
}

select.school_select{
outline:none;
text-indent: 0.01px;
text-overflow: '';
background-image: url(../images/ja/lab_intro/selectbox/top.svg);
background-repeat: no-repeat;
vertical-align: middle;
font-size: inherit;
color: rgba(0,0,0,0);
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
width: 100%;
font-size: 20px;
border-color: transparent;
}

select.school_select option{
background-color: white;
color: black;
border-color: #e99415;
}

select.school_select::-ms-expand {
display: none;
}

select.school_select:-moz-focusring {
color: transparent;
text-shadow: 0 0 0 #828c9a;
}

.movie{
width: 100% !important;
}

.set{
margin: 25px 0;
}

.item{
margin: 0 3% 25px 3%;
}

.item:nth-child(2n+1){
clear: left;
}

.title{
margin: 0 0 0 5%;
display: inline-block;
width: 50%;
height: 65px;
font-size: 3.9vw;
vertical-align: top;
}

.department{
margin: 1% 0 0 0;
}

.lab_name{
margin: 1% 0 0 0;
}

.title_img{
display: inline-block;
width: 45%;
}

.item img{
width: 100%;
height: auto;
}

.pagetop {
position: fixed;
bottom: 20px;
right: 20px;
}

.pagetop a {
display: block;
z-index: 999;
padding: 8px 0 0 8px;
border-radius: 30px;
width: 35px;
height: 35px;
background-color: #9FD6D2;
color: #fff;
font-weight: bold;
text-decoration: none;
text-align: center;
}

.pagetop a:hover {
text-decoration: none;
opacity: 0.7;
}

/* 以下jScrollPane(スクロールバー)の設定(スマホ版は非表示にする) */
/* 本体 */
.jspContainer{
position: relative;
overflow: hidden;
}

.jspPane{
position: absolute;
}

/* 縦スクロールバー本体 */
.jspVerticalBar{
display: none;
}

/* 横スクロールバー本体 */
.jspHorizontalBar{
display: none;
}

.jspCap{
display: none;
}

.jspHorizontalBar .jspCap{
float: left;
}

.jspTrack{
position: relative;
background: #E95383;
}

.jspDrag{
position: relative;
top: 0;
left: 0;
background: white;
cursor: pointer;
}

/* 縦スクロールバーの背景 */
.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag{
float: left;
height: 100%;
}

.jspArrow{
margin: 0;
padding: 0;
text-indent: -20000px;
display: block;
background: #50506d;
cursor: pointer;
}

.jspArrow.jspDisabled{
background: #80808d;
cursor: default;
}

.jspVerticalBar .jspArrow{
height: 16px;
}

.jspHorizontalBar .jspArrow{
float: left;
width: 16px;
height: 100%;
}

.jspVerticalBar .jspArrow:focus{
outline: none;
}

.jspCorner{
float: left;
height: 100%;
background: #eeeef4;
}
/* jScrollPane(スクロールバー)の設定終わり */

}
/* スマホ対応用CSS終わり */
