@charset "UTF-8";

/* TOPICS特別編(名大の研究室紹介)  */

div#package2{
top: 0px;
}

#contents{
width: 875px; !important;
}

.lab_intro{
margin: 0;
width: 875px;
}

#header_img{
width: 875px;
}

#intro{
width: 875px;
margin: 20px 0;
}

#movie_list{
width: 875px;
}

#department_list{
margin: 10px 0 0 0;
padding: 0;
list-style-type: none;
font-size: 0;
}

#department_list li{
height: 87.5px;
display: inline-block;
}

.department{
width: 87.5px;
height: 87.5px;
}

.department.on{
cursor: pointer;
}

.department.on:hover{
opacity: 0.6;
}

.department.on.selected{

}

.movie{
//width: 875px;
height: 200px;
overflow: auto;
border: 4px solid #E95383;
}
