@charset "UTF-8";

/*
------------------------------------------------------------
   おしらせ・プレスリリース
------------------------------------------------------------
*/
td.topics_date{
  	width: 7em;
    padding-left: 0.5em;
    text-align: center;
  	vertical-align: top;
}

/*Markdown利用によるpタグ設定、new!画像を後ろにつけるためにpをインライン要素に*/
td p{
	margin: 0;
	display: inline;
}
