/* TOPICS特別編  */

div#package2{
top: 0px;
}

#amano_top {
display: block;
margin: auto;
}

#amano_video {
position: relative;
left: 417.5px;
bottom: 177px;
}

#intro{
font-family: "小塚ゴシック Pr6N";
font-size: 12pt;
line-height: 30px;
margin: -135px 0 45px 42.5px;
width: 625px
}

.q_title {
font-size: 17pt;
}

.qq {
font-size: 14pt;
line-height: 30px;
color: red;
margin-top: 27.5px;
margin-bottom: 15px;
}

#interview{
font-family: "小塚ゴシック Pr6N";
font-size: 12pt;
line-height: 30px;
width: 625px;
margin-left: 42.5px;
}

#amano_one1 {
float: right;
}

#amano_two1 {
float: right;
}

#led_nu {
float: right;
}

#amano_one2 {
float: right;
}

#amano_two2 {
display: block;
margin: auto;
margin-top: 45px;
}

