/* TOPICS特別編  */

div#package2{
top: 0px;
}

#amano_video {
}

#intro{
font-family: "小塚ゴシック Pr6N";
font-size: 12pt;
line-height: 30px;
}

.q_title {
font-size: 18pt;
}

.qq {
font-size: 16pt;
line-height: 30px;
color: red;
}

#interview{
font-family: "小塚ゴシック Pr6N";
font-size: 12pt;
line-height: 30px;
}

#amano_one1 {
}

#amano_two1 {
}

#led_nu {
}

#amano_one2 {
}

#amano_two2 {
}

