@charset "UTF-8";

/* TOPICS特別編  */

div#package2{
top: 0px;
}

#open_campus{
margin: 0 auto;
width: 705px;
color: black;
}

#open_campus_top img{
margin: 0 auto;
display: block;
}

#main_topics{
width: 650px;
margin: 0 auto;
}

.article h1{
font-size: 24px;
margin: 25px 0 10px 0;
border-bottom: solid 5px #b30000;
font-weight: lighter;
}

.main_open_campus{
font-size: 14px;
margin: 10px 0 20px 0;
}

.open_campus_link{
display: block;
}

.open_campus_link:hover{
background-color: #FAEBD7;
cursor:pointer;
filter: alpha(opacity=60);
-ms-filter: "alpha(opacity=60)";
-moz-opacity:0.6;
-khtml-opacity: 0.6;
opacity: 0.6;
}

.back_open_campus{
border-bottom: solid 1px #666666;
margin: 10px;
font-size: 11px;
}