/* Open Campus 2018  */

/* common property  */

div#package2{
   top: 0px;
}

#open_campus_top{
   margin: 0 0 30px 0;
   width: 100%;
}

/* movie property */

.movie h1{
   font-size: 30px;
   font-weight: lighter;
   margin: 0 0 20px 35px;
   line-height: 1.25;
   width: 625px;
}

.thumbnail{
   width: 480px;
   height: 270px;
   box-shadow: 5px 5px 10px;
   margin: 0 0 50px 110px;
}

.thumbnail_img{
   width: 480px;
   height: 270px;
   box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
   margin: 0 0 50px 110px;
}

.start{
   position: relative;
   left: 200px;
   top: -215px;
}

.movie_info{
   margin: 0 0 20px 37.5px;
   width: 625px;
}


.movie_info p{
   font-size: 18px;
   line-height: 1.5;
}





input[name="tab_item"]{
   display:none;
}

.tab_item{
   width:calc(100%/2);
   height:60px;
   border:3px solid white;
   background-color: red;
   color:white;
   line-height:54px;
   font-size:25px;
   display:block;
   float:left;
   box-sizing: border-box;
   text-align: center;
   transition:all 0.2s ease;
   margin:0 0 30px 0;
}

.tab_content{
   display:none;
   clear:both;
   overflow:hidden;
}

.tab_item:hover {
   opacity: 0.60;
 }
 .tabs input:checked + .tab_item{
   border: 3px splid red;
   font-size:28px;
}
#chrom:checked ~ #chrom_content, #saibo:checked ~ #saibo_content{
   display: block;
}
