/* Open Campus 2015  */

/* common property  */

h1{
   font-size: 36px;
   font-weight: lighter;
}

h2{
   font-size: 24px;
}

p{
   font-size: 20px;
}


/* movie property */

.movie{
}

.movie > div{
}

.thumbnail{
   width: 480px;
   height: 320px;
   box-shadow: 5px 5px 10px;
}

.thumbnail_img{
   width: 480px;
   height: 320px;
   box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.start{
   position: relative;
   left: 200px;
   top: -215px;
} 

.movie_info{
   margin: 0 0 0 20px;
   line-height: 1;
}


.movie_info p{
}

