@charset "UTF-8";

/* TOPICS特別編  */

div#package2{
top: 0px;
}

#research_work{
margin: 0 auto;
width: 705px;
font-family: Helvetica,Arial,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
}

#research_work_top{
margin: 0 auto;
}

#main_topics{
}

.article h1{
}

.intro{
}

#interview_img{
}

.interview_text{
float: right;
width: 428px;
}

.interview_text h1{
}

.interview_text h2{
}

.interview_text p{
}

.interview_img{
}

#sup{

}

.backnumber{
}

.title{
}

.backnumber dl{
}

.backnumber dt{
}

.backnumber dd{
}
