/* TOPICS特別篇（ローマクラブ） */

#package2{
top: 0px;
}

#romeclub{
width: 640px;
margin-left: 45px;
margin-right: 55px;
}

#romeclub h1{
color:#e60012;
font-size: 30px;
}

#romeclub p{
font-size: 14px;
}

#intro{
margin-top: 45px;
margin-bottom: 45px;
}

#video{
margin-bottom: 45px;
}

#video p {
margin-bottom: 15px;
}

#video dl{
font-size: 14px;
}

#video dt {
margin-top: 10px;
margin-bottom: 10px;
}

#video dd{
margin: 0;
}

#video dd ul{
margin: 0;
padding: 0;
}

#video dd ul li{
display: inline;
margin: 0 0 0 10px;
}

#image img{
height: 405px;
width: 286px;
}
