/* TOPICS特別篇（ローマクラブ） */

#package2{
top: 0px;
}

#romeclub{
width: 640px;
margin-left: 45px;
margin-right: 55px;
}

#romeclub h1{
color:red;
font-size: 30px;
}

#romeclub p{
font-size: 14px;
}

#intro{
margin-top: 45px;
margin-bottom: 45px;
}

#video{
margin-bottom: 45px;
}

#video ul{
display: inline;
font-size: 14px;
padding-left: 10px;
}

#image img{
height: 405px;
width: 286px;
}
