/* TOPICS特別編 */

#package2{
top: 0px;
}

#contents h1{
font-size: 21px;
margin: 16px 0px;
}

#contents dl{
font-size: 14px;
}

#contents dl#specialtopics {
padding: 0 0 30px 0;
}

#contents dl#specialtopics dd{
margin: 0 0 16px 40px;
}

#contents dl#specialtopics_backnumber dd{
margin: 0 0 16px 40px;
}

.selection {display: none;}
#page-1 { display: block;}