@charset "UTF-8";

/* TOPICS特別編  */

div#package2{
top: 0px;
}

#topics_highschool{
margin: 0 auto;
width: 800px;
}

#toppic_topics_highschool img{
margin: 0 auto;
display: block;
}

#highschool_main{
width: 800px;
margin: 0 auto;
}

#article_1, #article_2, #article_3, #article_4{
width: 650px;
color: black;
margin: 0 auto;
}

.title{
font-size: 24px;
font-weight: lighter;
border-bottom: solid thin;
cursor: pointer;
padding: 0;
margin: 27.5px 0 0 0;
}

.highschool_intro{
}

.highschool_intro h2{
font-size: 20px;
font-weight: lighter;
padding: 0;
margin: 5px 0;
}

.highschool_intro p{
font-size: 14px;
padding: 0;
margin: 5px 0;
}

.course_video{
margin: 0 auto;
}

.highschool_link{
}

.highschool_link h2{
color: black;
font-size: 20px;
font-weight: lighter;
border-bottom: solid thin;
padding: 0;
margin: 10px 0;
}

.link_button{
font-size: 20px;
font-weight: lighter;
text-align: center;
border: solid thin;
padding: 0;
margin: 5px 0;
cursor: pointer;
}

.link_button a{
color: black;
display: block;
}
