@charset "euc-jp";
/*
------------------------------------------------------------
   About NUOCW
------------------------------------------------------------
*/

/* common property */

h1{
    color: #666666;
}

h2{
   border-bottom: medium solid;
   color: #77BB44;
}

h3{
   font-weight: lighter;
   font-size: 36px;
   margin-bottom: -15px;
   color: #77BB44;
   border-bottom: medium solid;
   padding-top: 25px;
}


p, li{
   line-height: 1.5;
}

/* link property  */

.about_link{
   color: #77BB44;
}

/* Stuff List  */

table{
   width: 1020px;
   margin-top: 50px;
   border-collapse: collapse;
}

#students_list{
   margin-bottom: 20px;
}

th{
   font-weight: lighter;
   font-size: 36px;
   color: #FFFFFF;
   background-color: #77BB44;
   padding: 15px 5px;
}

td{
   width: 340px;
   padding: 15px 5px;
}

td.date{
   text-align: right
}

.odd{
   background: white;
}

.even{
   background: #EBF0F0;
}