

/* 部局紹介 */
.faculty_intro {
   padding: 0 25px;
   margin-bottom: 50px;
   border: solid 1px gray;
   background-color: #EBF0F0;
}

.faculty_intro h2,
.faculty_intro h3,
.faculty_intro h4{
		display : none;
}

#faculty_detail {
   color: #77BB44;
   text-align: right;
}

#department {
   color: #77BB44;
}


/* 各々の表のはば */

th.title{
/*   width: 33%;*/
}

th.instructor{
   box-sizing: border-box;
   width: 230px;
}

td.title, td.instructor{
   padding-left: 30px;
}

th.lang, th.lecture_note, th.video{
   box-sizing: border-box;
   width: 150px;
}

/* ページ数の表 */
#page_numbers{
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 80px;
}

#page_numbers td{
   width: 50px;
   height: 50px;
   text-align: center;
   cursor: pointer;
}

#page1{
   color: white;
   background: #77BB44;
}


/* 部局紹介個別ページの設定 */
#dep_info_dean_text{
	 font-size: 24px;
	 text-align: right;
}

#dep_info_text h3{
	 font-size: 32px;
}

#dep_info_text h4{
	 font-size: 28px;
	 font-weight: normal;
}


/* コースリスト表 */
/*
#class_list, #backnumber, #class_detail table{
   margin-top: 5px;
   margin-bottom: 30px;
   width:1020px;
}

#class_list td, #backnumber td{
  padding: 15px 5px;
}

#class_list, #backnumber{
   background: white;
}

#class_list tr:nth-child(even), #backnumber tr:nth-child(even){
   background: #EBF0F0;
}

#class_list, #backnumber{
   border-collapse: collapse;
}

#class_head, #backnumber tr:nth-child(1){
   background: #77BB44;
   color: white;
}

#class_head th{
   padding: 15px 5px;
   text-align: left;
}

*/

#main_contents table{
   border-collapse: collapse;
   margin-top: 5px;
   margin-bottom: 30px;
   width:1020px;
}

#main_contents th, td{
  padding: 15px 5px;
}

#main_contents table{
   background: white;
}

#main_contents table tr th{
   background: #77BB44;
   color: white;
   border-bottom: 2px solid #666;
}

#main_contents table tr:nth-child(1){
   border-top: 2pt solid #666;
}

#main_contents table tr{
   border-bottom: 1pt solid #666;
}

#main_contents table tr:nth-last-child(1){
   border-bottom: 2pt solid #666;
}

#main_contents table tr td:nth-child(n+3){
   box-sizing: border-box;
   width: 50px;
}

#main_contents table tr td:nth-child(2n+3){
   text-align: right;
}

#main_contents table tr td:nth-child(2n+4){
   text-align: left;
}

#main_contents .center{
	text-align: center;
}
