/* list.html */

/* 部局紹介 */
.faculty_intro {
   padding: 0 25px;
   margin-bottom: 50px;
   border: solid 1px gray;
   background-color: #EBF0F0;
}

.faculty_intro h2,
.faculty_intro h3,
.faculty_intro h4{
		display : none;
		font-weight: normal;
}

#faculty_detail {
   color: #77BB44;
   text-align: right;
}

#department {
   color: #77BB44;
}

#dep_info_dean_text{
	 font-size: 24px;
	 text-align: right;
}

#dep_info_text h3{
	 font-size: 28px;
}

#dep_info_text h4{
	 font-size: 24px;
}

/* 各々の表のはば */

.title{
   width: 33%;
}

.instructor{
   width: 22%;
}

.lang{
   width: 15%;
}

.lecture_note{
   width: 15%;
}

.video{
   width: 15%;
}

/* ページ数の表 */
#page_numbers{
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 80px;
}

#page_numbers td{
   width: 50px;
   height: 50px;
   text-align: center;
   cursor: pointer;
}

#page1{
   color: white;
   background: #77BB44;
}