@charset "UTF-8";
/*
------------------------------------------------------------
   Coffee Hour
------------------------------------------------------------
*/

.thumbnail{
width: 480px;
}

#intro > .movie > div{
display: table-cell;
vertical-align: top;
}

#intro > .movie > .movie_info > p{
margin: 0 0 0 20px;
}

#coffee_contents1 > .movies > .movie{
display: table-cell;
padding: 0 10px;
}

#coffee_contents1 > .movies > .movie > .movie_info{
margin: 20px 0 0 0;
}

#coffee_contents1 > .movies > .movie > .movie_info > p{
width: 320px;
margin: 0;
}

.movies{
display: table;
margin: 0 auto;
}

#coffee_contents2 > .movie{
display: table;
margin: 0 auto 30px auto;
}

#coffee_contents2 > .movie > div{
display: table-cell;
margin: 0 auto;
vertical-align: bottom;
}

#coffee_contents2 > .movie > .movie_info > p{
width: 320px;
margin: 20px 0 0 20px;
}

.green:after{
display: block;
height: 8px;
border-radius: 5px;
background-color: #c3e254;
content: "";
}

.orange:after{
display: block;
height: 8px;
border-radius: 5px;
background-color: #e1af3c;
content: "";
}

.red:after{
display: block;
height: 4px;
border-radius: 0 5px 5px 5px;
background-color: #b8394c;
content: "";
}

.back_red{
display: inline-block;
width: 100px;
margin: 0 10px 0 0;
border-radius: 2px 2px 0 0;
background-color: #b8394c;
color: white;
text-align: center;
}
