@charset "UTF-8";
/*
------------------------------------------------------------
   Coffee Hour
------------------------------------------------------------
*/

.movie1,.movie2,.movie3{
overflow: hidden;
}

.movie1 > div{
display: table-cell;
vertical-align: top;
}

.movie2{
display: table-cell;
}

.movie3 > div{
display: table-cell;
vertical-align: bottom;
}

.movie_info{
//width:
}

#intro .movie_info{
//width:
}

.orange:after{
background-color: #e1af3c;
border-radius: 5px;
content: "";
display: block;
height: 8px;
}

.green:after{
background-color: #c3e254;
border-radius: 5px;
content: "";
display: block;
height: 8px;
}

#coffee_hour > p{
margin: 0;
}

.red > p{
margin: 10px 0 0 0;
}

.red:after{
background-color: #b8394c;
border-radius: 5px;
content: "";
display: block;
height: 4px;
}

.back_red{
width: 100px;
margin: 0 10px 0 0;
display: inline-block;
text-align: center;
background-color: #b8394c;
border-radius: 2px;
color: white;
}
