/* course Home */
body {
   color: #666666;
   min-width: 1120px;
}

/* 講義/教員名 開講部局など */

#class_info {
   float: left;
   width: 500px;
   font-size: 20px;
}

#title{
   line-height: 1;
}

#info{
   line-height: 1.5;
}

#info p{
   margin:0px;
}

.class_title {
   margin-top: 60px;
}

.class_subtitle {
   margin-top: -35px;
}

.department {
   margin-top: -25px;
}  


/* 表 */
#class_table {
   background: white;
   font-size: 20px;
   width: 500px;
   border: 1px solid gray;
   padding: 25px;
   float: right;
   margin: 60px 0px 0px;
}

#class_table tr{
   line-height: 25px;
}

#class_table td{
   border-width: 0px;
}

#class_table td:nth-child(1){
   width: 190px;
   padding-right: 10px;
}

.blank {
   height: 20px;
}

/* コンテンツ */

#class_detail{
   clear: both;
   padding-top: 10px;
}



#class_detail h1{
   border-bottom: medium solid;
   color: #77BB44;
   cursor: pointer;
   padding-bottom:5px;
}

#class_detail h2{
   border-bottom: medium solid;
   color: #77BB44;
   cursor: pointer;
   padding-bottom:5px;
}

#class_detail h3{
   font-weight: lighter;
   font-size: 36px;
}

#class_detail h4{
   font-weight: lighter;
   font-size: 20px;
}

#class_detail p{
	margin-top: 0.25em;
	padding-bottom: 1.0em;
}

#video img{
   margin: 0px;
   vertical-align: middle;
}

#video h1{
   border: medium none;
   height: 80px;
   padding-bottom: 0px;
   font-size: 24px;
}

#video a.video_button{
	display: inline-block;
	width: 80px;
	height: 80px;
    padding-right: 5px;
	text-align: center;
	vertical-align: middle;
}

#video div.video_text{
	display: inline-block;
	width: 425px;
	height: 80px;
	text-align: center;
	vertical-align: middle;
	background-color: #77BB44;
}

#video div.video_text a, 
#video div.video_text a:hover,
#video div.video_text a:active, 
#video div.video_text a:visited, 
{
	vertical-align: middle;
	color: #FFFFFF;
    cursor: pointer;
}


#video a:visited{
   color: #77BB44;
} 

.close_section{
   width: 100%;
   text-align: right;
   padding-bottom: 0pt !important;
   margin-top: 1.0em;
   text-decoratiton: underline;
   color: #77BB44;
   cursor: pointer;
   white-space: nowrap;
}

#class_detail li{
   text-align: left;
}

#class_detail table{
   margin-top: 5px;
   margin-bottom: 30px;
   width:1020px;
}

#class_detail th, #class_detail td{
  padding: 15px 5px;
}

#class_detail table{
   background: white;
}
/*
#class_detail table tr:nth-child(even){
   background: #EBF0F0;
}
*/
#class_detail table{
   border-collapse: collapse;
}

#class_detail table tr th{
   background: #77BB44;
   color: white;
   border-bottom: 2px solid #666;
}

#class_detail table tr:nth-child(1){
   border-top: 2pt solid #666;
}

#class_detail table tr{
   border-bottom: 1pt solid #666;
}

#class_detail table tr:nth-last-child(1){
   border-bottom: 2pt solid #666;
}

#class_detail .center{
	text-align: center;
}


.last_up {
   text-align: right;
   width: 100%;
}

hr{
   border-width: medium 0px 0px 0px;
   border-style: solid;
   border-color: #666666;
   height: 1px;
}

.date {
   padding-left: 320px;
   margin-top: 0px;
}

.remark {
   padding-left: 320px;
   margin-top: 0px;
}

.cauntion {
   margin-top: -25px;
}