/* CSS Document for Mei-Writing Page */

.eleUnit{
	margin: 50px 0 80px 0;
}

.eleUnit:first-child{
	margin-bottom: 50px;
}

.eleUnit h1{
	margin: 0 0 25px 0;
	padding: 0 0 0 35px;
	border-bottom: 2px solid #77bb44;
	background: url("../../images/en/bg_writing.svg") left repeat-y;
	font-size: 48px;
}

.eleUnit h2{
	margin: 0;
}

.eleUnit p, .eleUnit ol{
	margin: 25px 0;
}

.eleUnit ul li{
	list-style: none;
}

.eleUnit dl{
	padding: 0 0 0 40px;
	counter-reset: count 0;
}

.eleUnit dl dd{
	margin: 25px;
}

/*
.eleUnit dl dt{
	display: list-item;
	list-style-type: decimal;
}*/

.eleUnit dl dt:before {
    counter-increment: count;
    content: counter(count) ". ";
}

.eleUnit dl dd ul{
	display: inline-block;
	margin: 0;
	vertical-align: top;
}

.eleUnit dl dd ul li {
	list-style-type: disc;
	margin: 0 0 25px 0;
}

.accordion > h2 {
	color: #77BB44;
	cursor: pointer;
	padding-bottom: 5px;
	border-bottom: medium solid;
}

.accordion > h2:hover {
	color: #008000;
	border-color: #008000;
}

.accordion > h2:before {
	transition: rotation 0.2s ease;
	content: url(images/en/close_text.svg);
	display:inline-block;
	margin: 0 10px;
}

.accordion > h2:hover:before {
	content: url(images/en/close_text_ov.svg);
	margin: 0 10px;
}

.accordion > h2.hidden:before{
	transform: rotate(180deg);
}