/* CSS Document for Mei-Writing Page */

.eleUnit{
	margin: 50px 0 80px 0;
}

.eleUnit:first-child{
	margin-bottom: 50px;
}

.eleUnit h1{
	margin: 0 0 25px 0;
	padding: 0 0 0 35px;
	border-bottom: 2px solid #77bb44;
	background: url("../../images/en/bg_writing.svg") left repeat-y;
	font-size: 48px;
}

.eleUnit h2{
	margin: 0;
}

.eleUnit p, .eleUnit ol{
	margin: 25px 0;
}

.eleUnit ul li{
	list-style: none;
}

.eleUnit dl{
	padding: 0 0 0 40px;
}

.eleUnit dl dd{
	margin: 25px 0;
}

/*
.eleUnit dl dt{
	display: list-item;
	list-style-type: decimal;
}*/

.eleUnit dl dt:before {
    counter-increment: count;
    content: counter(count) ". ";
}

.eleUnit dl dd ul{
	display: inline-block;
	margin: 0;
	vertical-align: top;
}

.eleUnit dl dd ul li {
	list-style: initial;
	margin: 0 0 25px 0;
}
