/* 天野先生ノーベル賞受賞記念インタビューページ英語版  */

#nobel_interview p{
font-size: 20pt;
}

#nobel_interview h1{
font-size: 36pt;
margin: 20px 0 25px 0;
border-bottom: 2px solid #77bb44;
padding: 0 0 0 35px;
background: url("../../images/en/bg_writing.svg") left repeat-y;
}

#nobel_interview h2{
font-size: 25pt;
}

#intro{
margin: 50px 0 0 0;
}

#intro p{
margin: 0;
}
