/* 天野先生ノーベル賞受賞記念インタビューページ英語版  */

#nobel_interview h1{
font-size: 36pt;
margin: 50px 0 20px 0;
border-bottom: 2px solid #77bb44;
padding: 0 0 0 35px;
background: url("../../images/en/bg_writing.svg") left repeat-y;
}

#nobel_interview h2{
font-size: 25pt;
color: #77bb44;
}

#nobel_interview p{
font-size: 20pt;
margin: 0;
}

#intro{
margin: 50px 0 50px 0;
}

#intro p{
margin: 0;
}

#amano_one1 {
float: right;
margin: auto auto auto 20px;
}

#amano_two1 {
float: right;
margin: auto auto auto 20px;
}

#led_nu {
float: right;
margin: auto auto auto 20px;
}

#amano_one2 {
float: right;
margin: auto auto auto 20px;
}

#amano_two2 {
display: block;
margin: 50px auto;
}
