/* css file for pressrelease */

#backnumber {
    background-color: white;
    border-collapse: collapse;
    width: 1020px;
}

#backnumber tr th{
    background-color: #77bb44;
    border-bottom: 2px solid #666;
    border-top: 2px solid #666;
    color: white;
    text-align: center;
}

#backnumber tr {
    border-bottom: 1px solid #666;
}

#backnumber td,#backnumber th{
    padding: 15px 5px;
}

#backnumber tr:nth-last-child(1){
    border-bottom: 2px solid #666;
}

.topics_date {
    text-align: center;
}