.gsc-input-box {
  height: 50px !important;
  background-color: #EAEAE9;
}

.gstl_50 {
  height: 50px !important;
}

.gstl_50 td {
  vertical-align: center !important;
}


.gsc-input,
.gsc-result-info,
.gs-title,
.gs-title b {
  font-size: 20px !important;
}

.gsc-selected-option {
  font-size: 16px !important;
}

b {
  font-weight: bold;
}

.gsc-cursor-box {
  text-align: center !important;
  font-size: 20px !important;
}

.gsc-cursor-page {
  float: left;
  display: block !important;
  width: 50px !important;
  height: 50px !important;
  padding: 1px !important;
  line-height: 50px !important;
}

.gsc-cursor-current-page {
  background-color: #77BB44 !important;
  color: #FFFFFF !important;
}


