/* NUOCW Special Content Summercamp  */

p {
   line-height: 1.5;
   margin: 0;
}

#summercamp > h1, h2 {
    border-bottom: medium solid #77bb44;
    color: #77bb44;
}

#summercamp div p:last-child {
    padding-bottom: 20px;
}

#outline p:nth-child(2n),#participants p:nth-child(2n),#attraction p:nth-child(2n),#conclusion p:nth-child(2n+1) {
    color: #999;
    padiing-bottom: 20px;
}


#outline p:nth-child(2n+1), #participants p:nth-child(2n+1), #attraction p:nth-child(2n+1), #conclusion p:nth-child(2n) {
    padding: 10px 0px;
}

#profile p:nth-child(2n){
    font-size: 36px;
}

#profile > p:nth-child(2n+1) {
    padding-bottom: 20px;
}

#video h2{
    border-bottom: medium solid #666;
    color: #666;
}

.yt_holder {
    left: 210px;
    padding: 10px 0;
    position: relative;
    width: 600px;
}

#participants {
    overflow: hidden;
}

#participants > p:nth-child(7) {
    float: left;
    width: 680px;
}

#participants > img {
    float: left;
    height: 210px;
    margin-left: 25px;
    position: relative;
    top: -25px;
    width: 315px;
}

