/* International Student's Voice  */

/* common property  */

h1,h2,h3{
   font-size: 36px;
   font-weight: lighter;
   padding: 0px;
   margin: 0px;
}

h1, h2{
    margin-bottom: 5px;
}

h3{
    color: #77bb44;
    border-bottom: medium solid #77bb44;
    cursor: pointer;
}

h3:hover{
    color: #008000;
    border-color: #008000;
}

p{
   font-size: 20px;
}


/* movie property */

.movie{
   overflow: hidden;
}

.movie > div{
    float: left;
}
.thumbnail{
   float: left;
   width: 480px;
   height: 320px;
   box-shadow: 5px 5px 10px;
}

.thumbnail_img{
   width: 480px;
   height: 320px;
   box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.start{
   position: relative;
   left: 200px;
   top: -215px;
}

.movie_info{
   width: 520px;
   height: 320px;
   margin: 0 0 0 20px;
   line-height: 1;
}


.movie_info p{
   margin: 5px 0px;
}

.movie_info p:nth-child(2), .movie_info p:nth-child(4) {
   font-size: 36px;
   padding-bottom: 15px;
}

.movie_info p:nth-child(6) {
   line-height: 1.5;
}

.movie_link{
    width: 520px;
}
.movie_link h3 .open, .movie_link p{
    display: none;
}
.movie_link ul{
    list-style: none;
    display: none;
}
.movie_link ul li{
    line-height: 1.5;
}
.movie_link p{
    margin: 0;
}
.movie_link p:first-child{
    margin-bottom: 10px;
}

.movie_link h3 img.close.active{
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.movie_link h3 img{
	-webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}

/* SNS_button property */

.share{
    display: table-cell;
    width: 480px;
    margin: 0 20px 0 0;
}
.share > div{
    display: table-cell;
    vertical-align: bottom;
}
.fb_iframe_widget{
   padding: 10px 0px;
   float: none;
}
.tweet_button{
   padding: 10px;
}
.twitter-share-button{
    display:table-cell;
    vertical-align:bottom;
}
/* .back property */

.back{
   color: #77BB44;
   cursor: pointer;
   padding: 10px 0px;
   margin: 0;
   width:105px;
   position: relative;
   left: 905px;
   white-space: nowrap;
}

hr{
    border-color: #666666;
    border-style: solid;
    border-width: thin;
    height: 0px;
    margin-bottom: 50px;
}

/* Special Link property */
.special_link a img:hover{
    opacity: 0.5;
    filter: alpha(opacity=50);
    margin: 10px 0 40px 0;
}

.special_link a img{
    -webkit-transition: 0.6s;
    transition: 0.6s;
    margin: 10px 0 40px 0;
}
