/* International Student's Voice  */

/* common property  */

h1,h2{
   font-size: 60px;
}

p{
   font-size: 36px;
}

.name p{
    font-size: 60px;
}

.country p{
    font-size: 60px;
}

/* movie property */

.start{
   position: absolute;
   left: 415px;
   top: 430px; /* left はともかく、 topを指定するのはマズい。 改善必要*/
} 

.back{
   text-align: right;
   color: #77BB44;
}

hr{
    border-color: #666666;
    border-style: solid;
    border-width: thin;
    height: 1px;
}