@charset "euc-jp";

/*
------------------------------------------------------------
   1分間授業紹介&PodCast
------------------------------------------------------------
*/

/* 一分間授業紹介のページの設定 */
th.rank{
   width: 2%;
	 text-align: center;
}

th.video_img{
   width: 30;
	 text-align: center;
}

th.course_name{
   width: 40%;
}

th.play_button{
   width: 30;
   text-align: center;
}

th.department{
   width: 25%;
}

th.lecturer{
   width: 20%;
}

table{
   margin-top: 5px;
   margin-bottom: 30px;
   width:1020px;
}

th,  td{
  padding: 15px 5px;
}

table{
   background: white;
}
/*
 table tr:nth-child(even){
   background: #EBF0F0;
}
*/
table{
   border-collapse: collapse;
}

#main_contents table tr th{
   background: #77BB44;
   color: white;
   border-bottom: 2px solid #666;
}

#main_contents table tr:nth-child(1){
   border-top: 2pt solid #666;
}

#main_contents table tr{
   border-bottom: 1pt solid #666;
}

#main_contents table tr:nth-last-child(1){
   border-bottom: 2pt solid #666;
}
