@charset "euc-jp";

/* Welcome message by Mr.Onogi  */

p{
   line-height: 1.5;
}

div#welcome{
   background-color: white;
   width: 340px;
   float: left;
   text-align: center;
   position: relative;
   top: 25px;
}

div#welcome_right{
   float: left;
   margin-left: 50px;
   width: 630px;
}
   
#welcome_name p{
   margin: 0px;
}

#welcome_img{
   position: relative;
   top: 15px;
}

#welcome_main{
   float: left;
}