@charset "UTF-8";


div#package2{
    top: 0px;
    float:none;
/*どこかのファイルでfloat:leftとなっている様子。ここで上書き*/
}

/* ヘッダーとフッター・背景の設定はじめ */
body, .body_back, .main_back_adachi{
    background: none;
}

.header_edge, .pankuzu, .footer, #footer_bottom, .main_back_adachi, .main_back_url, .topjump{
    display: none;
}

.main_back{
    background: none;
    max-width: initial;
}

.main{
    margin: 0 auto;
    background: none;
    width: 100%
}

#contents{
    padding: 0;
    width: 100%  !important;
    background-color: #f2f2f2;
    margin: 0 auto;
    /*commonのファイルでmargin絶対指定しているため上書き*/
}

/* ヘッダーとフッター・背景の設定終わり */

/*幅によらず共通css はじめ*/

#topics2018{
    margin: 0 auto;
    background-color: blue;
}

#topics2018_contents{
    margin:0 auto;
    width: 90%;
    background-color: red;
    overflow: hidden;
}







/*幅によらず共通css 終わり*/

/*以下、幅による場合分け（４パターン）幅600以下がスマホ版レイアウト*/

/* width<320 */
@media screen and (min-width: 0px){
    #topics2018{
        width: 100%;
    }
    #topics2018_contents{
        width: 96%;
    }
    img{
        height: 200px;
        width: 667px;
    }
}


/* 320<width<600 */
@media screen and (min-width: 320px){
    #topics2018{
        width: 100%;
    }
    #topics2018_contents{
        width: 96%;
    }
    img{
        height: 200px;
        width: 667px;
    }
}


/* 600<width<1140 */
@media screen and (min-width: 600px){
    #topics2018{
        width: 100%;
    }
    #topics2018_contents{
        width: 88%;
    }
    img{
        height: 300px;
        width: 1000px;
    }
}


/*1140<width*/
@media screen and (min-width: 1140px){

    #topics2018{
        width: 1140px;
    }
    #topics2018_contents{
        width: 1000px;
    }
    img{
        height: 300px;
        width: 1000px;
    }
}