@charset "UTF-8";
/*フォントインポートはじめ*/

/*源真 Bold*/
@font-face{
    font-family: 'Genshin-bold';
    src: url('../../js/fonts/GenShinGothic/GenShinGothic-Bold-subset.eot'), /* IE9以上用 */
    url('../../js/fonts/GenShinGothic/GenShinGothic-Bold-subset.woff') format('woff'), /* モダンブラウザ用 */
    url('../../js/fonts/GenShinGothic/GenShinGothic-Bold-subset.ttf') format('truetype'); /* iOS, Android用 */
}

/*源真 Medium*/
@font-face{
    font-family: 'Genshin-medium';
    src: url('../../js/fonts/GenShinGothic/GenShinGothic-Medium-subset.eot'), /* IE9以上用 */
    url('../../js/fonts/GenShinGothic/GenShinGothic-Medium-subset.woff') format('woff'), /* モダンブラウザ用 */
    url('../../js/fonts/GenShinGothic/GenShinGothic-Medium-subset.ttf') format('truetype'); /* iOS, Android用 */
}

/*源真 Regular*/
@font-face{
    font-family: 'Genshin-regular';
    src: url('../../js/fonts/GenShinGothic/GenShinGothic-Regular-subset.eot'), /* IE9以上用 */
    url('../../js/fonts/GenShinGothic/GenShinGothic-Regular-subset.woff') format('woff'), /* モダンブラウザ用 */
    url('../../js/fonts/GenShinGothic/GenShinGothic-Regular-subset.ttf') format('truetype'); /* iOS, Android用 */
}

/*Palatino Linotype*/
@font-face{
    font-family: 'Palatino Linotype';
    src: url('../../js/fonts/palatino_linotype/palatinolinotype.eot'), /* IE9以上用 */
    url('../../js/fonts/palatino_linotype/palatinolinotype.woff') format('woff'), /* モダンブラウザ用 */
    url('../../js/fonts/palatino_linotype/palatinolinotype.ttf') format('truetype'); /* iOS, Android用 */
}



/*フォントインポート終わり*/
div#package2{
    top: 0px;
    float:none;
    /*どこかのファイルでfloat:leftとなっている様子。ここで上書き*/
}

/* ヘッダーとフッター・背景の設定はじめ */
body, .body_back, .main_back_adachi{
    background: none;
}

.header_edge, .pankuzu, .footer, #footer_bottom, .main_back_adachi, .main_back_url, .topjump{
    display: none;
}

.main_back{
    background: none;
    max-width: initial;
}

.main{
    margin: 0 auto;
    background: none;
    width: 100%
}

#contents{
    padding: 0;
    width: 100%  !important;
    background-color: #f2f2f2;
    margin: 0 auto;
    /*commonのファイルでmargin絶対指定しているため上書き*/
    font-family:"Genshin-regular";
    /*全体リード文は、源真ゴシックRegularを用いる。Mediumは各場所個別で指定*/
    color: #333333;
}

/* ヘッダーとフッター・背景の設定終わり */

/*幅によらず共通css はじめ*/

#topics2018{
    margin: 0 auto;
    padding-bottom:80px;
    background-color: white;
}

#topics2018_contents{
    margin:0 auto;
    width: 90%;
}

/*タイトル装飾 ここから*/
div.title{
    font-family:"Genshin-medium";
    font-size:27px;
    padding:10px;
    position:relative;
    margin-left:17px;
}

div.title::before{
    content:"";
    height:100%;
    position:absolute;
    bottom:0px;
    left:-22px;
}

div.title::after{
    content:"";
    width:100%;/*calc()非対応ブラウザ用*/
    width:calc(100% + 22px);
    position:absolute;
    bottom:0px;
    left:-22px;
}

#title1{border-left:solid 5px #E18862;}
#title1::before{border-left:solid 12px #E18862;}
#title1::after{border-bottom:solid 5px #E18862;}

#title2{border-left:solid 5px #867AAA;}
#title2::before{border-left:solid 12px #867AAA;}
#title2::after{border-bottom:solid 5px #867AAA;}

/*タイトル装飾 ここまで*/

/*!*画像装飾 ここから*!*/
div.allwrap{
    position:relative;
    overflow:hidden;
    width:100%;
}
div.allwrap:hover{
    opacity:0.8;
}

div.imgwrap{
    position:absolute;
    top:0px;
    right:0px;
    overflow: hidden;
    width:100%;
}

img{
    display:block;/*divとimgの間の隙間消去のため.*/
}

div.img{
    position:absolute;
    top:0px;
    left:0px;
}

div.imgmask{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
}

div.imgkukita .imgmask,div.imgstudents .imgmask{
    background-color:rgba(225,136,98,0.3);
    /*#E18862,opacity 30%*/
}

div.imgtakeda .imgmask,div.imgishiguro .imgmask,div.imgtakeuchi .imgmask{
    background-color:rgba(134,122,170,0.3);
    /*#867AAA,opacity 30%*/
}

div.imggrad{
    position:absolute;
    top:0px;
    right:0px;
    height:100%;
    background:linear-gradient(90deg,rgba(0,0,0,0),rgba(0,0,0,0.85))
}

p.interview{
    margin:0px;
    padding:0px;
    position:absolute;
    top:0px;
    right:0px;
    color:white;
    mix-blend-mode: overlay;
    opacity:0.5;
    text-align:right;
    font-family: "Palatino Linotype";
    font-style:italic;

}
/*IEとEdgeは透過率0.3のみ,他ブラウザは透過率0.5でoverlay付加*/

/*Edge*/
@supports (-ms-ime-align:auto) {
    p.interview{
        opacity: 0.3;
    }
}
/* IE(10以降) */
@media all and (-ms-high-contrast:none) {
    p.interview {
        opacity: 0.3;
    }
}

p.sensei{
    margin:0;
    position:absolute;
    color:white;
    text-align: right;
    font-family:"Genshin-medium";
}

p.gaiyou{
    margin:0px;
    position:absolute;
    color:white;
    text-align:left;
}

p.detail{
    margin:0px;
    position:absolute;
    color:white;
    text-align:right;
}

.underline {
    text-decoration: underline;
}

/*ヘッダー画像部分　はじめ*/

div.headerimgwrap{
    position:relative;
    overflow: hidden;
    width:100%;
    height:auto;
    /*放射状（円形）グラデーション*/
    background:-webkit-gradient(radial, center center, 0, center center, 100, from(#ffffff), to(#4dd9ff));
    background:-webkit-radial-gradient(center, circle cover, #ffffff 0%, #4dd9ff 100%);
    background:-moz-radial-gradient(center, circle cover, #ffffff 0, #4dd9ff 100%);
    background:-o-radial-gradient(center, circle cover, #ffffff 0, #4dd9ff 100%);
    background:radial-gradient(#ffffff 0, #4dd9ff 100%);
}

div.headertext{
    position:absolute;
    z-index: 1;
    width:100%;
    top : 0px;
    left: 0px;
    color:#cccc00;
    font-family: "Genshin-regular";
    font-size:4.5vw;
    text-align:center;
    line-height:5.5vw;
    letter-spacing: 0.7vw;
}

div.headerimg{
    position:relative;
    z-index: 2;
}

div.headerimg img{
    width : 100%;
    height: auto;
}

div.headertitle{
    position:relative;
    z-index: 2;
    font-family: "Genshin-bold";
    color:#ffffff;
    height:12vw;
    background-color: rgba(0,0,0,0.3);
}

div.headertitle .left{
    float:left;
    width:50%;
    font-size:3.5vw;
    line-height:5.5vw;
    letter-spacing:0;
}

div.headertitle .right{
    float:right;
    width:50%;
    font-size:8vw;
    line-height:7vw;
    letter-spacing:0;
    padding: 2.5vw 0 0 0;
}

ul.titleli{
    list-style:none;
    padding: 0 0 0 5vw;
    margin:0;
}

/*ヘッダー画像部分　終わり*/


/*幅によらず共通css 終わり*/

/*以下、幅による場合分け（４パターン）幅670以下がスマホ版レイアウト*/
/* width<340 */
@media screen and (min-width: 0px){
    #topics2018{
        width: 100%;
    }
    #topics2018_contents{
        width: 96%;
    }
    div.title {
        font-size: 18px;
    }
    img{
        height: 200px;
        width: 667px;
    }
    div.imgwrap,div.allwrap{
        height: 200px;
    }
    div.imggrad{
        width:87.5vw;
    }
    /*スマホ版共通指定　はじめ*/

    #contents{
        font-size:14px;
    }

    p.interview{
        margin-top:-20px;
        font-size:87px;
        transform:scale(0.6,1);
        transform-origin: right top;
    }

    p.sensei{
        bottom:131px;
        right:30px;
        font-size:18px;
    }

    p.gaiyou{
        bottom:62px;
        right:-2.4vw;
        font-size:12px;
        width:300px;
    }

    p.detail{
        bottom:30px;
        right:3.5vw;
        font-size:12px;
    }

    p.note{
        margin:0;
    }

    p.intro{
        margin:40px 0px 40px 0px;
    }
    div.contents{
        margin:25px 0px 25px 0px;
    }
    .imgkukita{
        margin:0px 0px 15px 0px;
    }
    .imgstudents{
        margin:0px 0px 40px 0px;
    }
    .imgtakeda{
        margin:0px 0px 15px 0px;
    }
    .imgishiguro{
        margin:0px 0px 15px 0px;
    }
    .imgtakeuchi{
        margin:0px 0px 0px 0px;
    }

    /*ヘッダー画像部分　後で変更する　はじめ*/

    .pcheader{
        display:none;
    }
    .sumahoheader{
        display:block;
        font-size:3vw;
        width:100%;
        height:13vw;
        text-align: center;
        background-color:grey;
    }

    /*ヘッダー画像部分　後で変更する　おわり*/

    /*スマホ版共通指定　終わり*/
}


/* 340<width<670 */
@media screen and (min-width: 340px){
    #topics2018{
        width: 100%;
    }
    #topics2018_contents{
        width: 96%;
    }

    div.imgwrap,div.allwrap{
        height: 200px;
    }
    div.imggrad{
        width:87.5%;
    }

    p.gaiyou{
        bottom:62px;
        right:3vw;
        font-size:12px;
        width:300px;
    }
}


/* 670<width<1140 */
@media screen and (min-width: 670px){
    #topics2018{
        width: 100%;
    }
    #topics2018_contents{
        width: 88%;
    }
    div.title {
        font-size: 27px;
    }
    img{
        height: 300px;
        width: 1000px;
    }
    div.allwrap{
        height: 300px;
        width:100%;
    }
    div.imgwrap{
        height: 300px;
    }
    div.imggrad{
        width:750px;
    }
    p.interview{
        margin-top:-40px;
        font-size:130px;/*155*/
        transform:scale(0.75,1);
        transform-origin: right top;
    }
    /*PC版共通指定　はじめ*/

    #contents{
        font-size:18px;
    }

    p.sensei{
        bottom:194px;
        right:40px;
        font-size:36px;
    }

    p.gaiyou{
        bottom:98px;
        right:40px;
        font-size:18px;
        width:480px;
    }

    p.detail{
        bottom:50px;
        right:40px;
        font-size:18px;
    }

    p.note{
        margin:0;
        padding-left:3em;
        text-indent:-1em;
    }

    p.intro{
        margin:65px 0px 65px 0px;
    }
    div.contents{
        margin:40px 0px 40px 0px;
    }
    .imgkukita{
        margin:0px 0px 30px 0px;
    }
    .imgstudents{
        margin:0px 0px 65px 0px;
    }
    .imgtakeda{
        margin:0px 0px 30px 0px;
    }
    .imgishiguro{
        margin:0px 0px 30px 0px;
    }
    .imgtakeuchi{
        margin:0px 0px 0px 0px;
    }

    /*ヘッダー画像部分　後で変更する　はじめ*/

    .pcheader{
        display:block;
        font-size:3vw;
        background-color:grey;
        height:13vw;
        width:100%;
        text-align: center;
    }
    .sumahoheader{
        display:none;
    }

    /*ヘッダー画像部分　後で変更する　おわり*/
    /*PC版共通指定　終わり*/
}


/*1140<width*/
@media screen and (min-width: 1140px){

    #topics2018{
        width: 1140px;
    }
    #topics2018_contents{
        width: 1000px;
    }

    img,div.allwrap{
        height: 300px;
        width: 1000px;
    }

    div.imgwrap{
        height: 300px;
    }
    div.imggrad{
        width:750px;
    }

    /*ヘッダー画像部分　文字サイズ等最大値設定　はじめ*/

    div.headertext{
        font-size:51.3px;
        line-height:62.7px;
        letter-spacing: 7.98px;
    }

    div.headertitle{
        height:136.8px;
    }

    div.headertitle .left{
        font-size:39.9px;
        line-height:62.7px;
        letter-spacing:0;
    }

    div.headertitle .right{
        font-size:91.2px;
        line-height:79.8px;
        padding: 28.5px 0 0 0;
    }

    ul.titleli{
        padding: 0 0 0 57px;
    }
    /*ヘッダー画像部分　文字サイズ等最大値設定　終わり*/




}