div#tp_default{
    background-image: url("../../images/ja/topics7/back.png");
    background-size: cover;
    height: 1200px;
}

#intro_message img{
    width: 865px;
}

#articles_title{
    width: 340px;
    margin: 10px 10px 20px 20px;
}

#articles_title li nav{
    height: auto;
    width: auto;
}

#articles_title li nav a{
    width: 100%;
    height: 100%;
}

#articles_title li nav a:hover{
    text-decoration: none;
    color: #020202;
}

#articles_title li nav a img{
    width: auto;
    height: auto;
}

#articles_intro{
    width: 390px;
    height: 740px;
    background-image: url("../../images/ja/topics7/article_intro.png");
    background-repeat: no-repeat;
}

#package2{
    top: 0px;
}

#articles_intro li article h1:before{
    display: none;
}

h1{
    color: #ff527b;
    font-size: 17pt;
    text-align: center;
    font-weight: bold;
    padding: 20px 0 0 0;
}

p img{
    padding: 0 0 0 54px;
}

p#use{
    padding: 0 0 0 45px;
}

p#start ol li{
}

a.go img{
    width: auto;
    height: auto;
}

#contents {
    font-family: "鐚㍼竺 ",sans-serif;
    color: #ff527b;
}

p.lead {
    line-height: 30px;
    width: 300px;
    padding: 0 0 0 42px;
}

.bg_off {
}

.bg_on {
}