div#tp_default{
    background-color: #034c29;
    background-size: cover;
    height: 1535px;
}

#intro_message img{
    width: 940px;
}

#articles_title{
    width: 315px;
    margin: 0px 40px 45px 45px;
    padding: 0px;
}

nav{
    height: auto;
    width: auto;
}

#articles_title li{
    margin-bottom: 25px;
}

#articles_title li nav a{
    width: 315px;
    height: 195px;
}

#articles_title li nav a img{
	position: absolute;
	width: 315px;
    height: 390px;
	clip: rect(0px 315px 195px 0px);
}

#articles_title li nav a img:hover{
	position: absolute;
	clip: rect(195px 315px 390px 0px);
	margin-top: -195px;
}

#articles_intro{
    width: 495px;
    height: 1075px;
    background-image: url("../../images/ja/topics8/box.png");
    background-repeat: no-repeat;
}

#package2{
    top: 0px;
}

#articles_intro li article{
    height: 740px;
}

#articles_intro li article h1:before{
    display: none;
}

h1{
	width: 400px;
	height: 52px;
    font-size: 26px;
    text-align: center;
    font-weight: bold;
    font-color: #fff100;
}

p img{

}

p.use{
    font-size: 10pt;
}

ol{
    font-size: 10pt;
    line-height: 29px;
}

#articles_intro li article a img{
    width: auto;
    height: auto;
    position: absolute;
    top: 915px;
    left: 588px;
}

#articles_intro li article .image{
    position: relative;
}

#articles_intro li article .image .magnet{
	width: auto;
    height: auto;
    position: absolute;
    top: -10px;
    left: 175px;
}


#contents {
    font-family: "小塚ゴシック Pr6N",sans-serif;
    color: #ffffff;
}

p.lead {
    font-size: 22px;
    line-height: 29px;
    width: 400px;
    height: 440px;
    text-align: justify;
}

.bg_off {
}

.bg_on {
}