div#tp_default{
    background-color: #034c29;
    background-size: 875px;
    background-image: url("../../images/ja/topics8/bottom_image.png");
    background-repeat: no-repeat;
    background-position: bottom;
    height: 1435px;
}

#intro_message img{
    width: 875px;
}

#articles_title{
    width: 300px;
	margin: 0px 30px 42px 42px;
    padding: 0px;
}

nav{
    height: auto;
    width: auto;
}

#articles_title li{
    margin: 0px 0px 23px 0px;
}

#articles_title li nav a{
    width: 300px;
    height: 185px;
}

#articles_title li nav a img{
	position: absolute;
    clip: rect(0px 300px 185px 0px);
    width: 300px;
    height: 370px;
}

#articles_title li nav a img:hover{
	position: absolute;
	clip: rect(185px 300px 370px 0px);
	margin: -185px 0px 0px 0px;
}

#articles_intro{
    width: 460px;
    height: 1000px;
    background-image: url("../../images/ja/topics8/box.png");
    background-repeat: no-repeat;
    background-size: 460px;
    margin: 0px;
}

#package2{
    top: 0px;
}

#articles_intro li article{
    height: 740px;
}

#articles_intro li article h1:before{
    display: none;
}

h1{
	width: 372px;
    height: 52px;
    font-size: 23px;
    text-align: center;
    font-weight: bold;
    margin: 33px 44px 30px 44px;
    color: #fff100;
}

p img{

}

p.use{
    font-size: 17px;
    margin: 23px 45px 0px 45px;
}

ol{
    font-size: 15px;
    line-height: 29px;
    margin: 23px 45px 0px 45px;
}

#articles_intro li article p img{
    width: 372px;
    margin: 0px 44px 0px 44px;
}

#articles_intro li article .image{
    position: relative;
    margin: 0px;
}

#articles_intro li article .image .magnet{
	width: 47px;
    position: absolute;
    top: -15px;
    left: 163px;
}

#articles_intro li article a img{
	width: 270px;
    margin: 0px 93px 0px 93px;
}

#contents {
    font-family: "小塚ゴシック Pr6N",sans-serif;
    color: #ffffff;
}

p.lead {
    font-size: 14px;
    line-height: 29px;
    width: 372px;
    height: 460px;
    text-align: justify;
    margin: 23px 45px 0px 45px;
}

.bg_off {
}

.bg_on {
}